
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" >
{% load staticfiles %}
{%load i18n%}
<head>
    <title>{% trans 'logout webterminal' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



    <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}">
    

    <script type="text/javascript">
    //<![CDATA[
        window.__admin_media_prefix__ = "/static/admin/";
        window.__admin_utc_offset__ = "0";
    //]]>
    </script>
    <script src="{% static "plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
    <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

    

    <meta name="robots" content="NONE,NOARCHIVE" />
    <script type="text/javascript">
    //<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>
    </script>
    




</head>


<body class="">

<!-- Container -->
<div class="container">

    
    <!-- Header -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
<a class="navbar-brand" href="/">{% trans 'webterminal' %}</a>

                </div>
                <div id="header-navbar-collapse" class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        
                        
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- END Header -->
    <div class="row">
        <div class="col-sm-12">
            

        </div>
    </div>
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <div class="navbar navbar-default">
            <div class="navbar-inner">
                
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#content-navbar-collapse" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                    
                    
                        <span class="navbar-brand">{% trans 'logout' %}</span>
                    
                    
                    </div>
                
            </div>
        </div>
        

        
        
        

        

<p>{%trans 'Thanks for your visit!' %}！</p>

<p><a href="/" class="btn btn-default">{% trans 'Login again' %}</a></p>


        
    </div>
    <!-- END Content -->

    <footer id="footer"></footer>
</div>
<!-- END Container -->

</body>
</html>
