<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{%load i18n%}
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Webterminal Login' %}</title>
    {% if otp_is_open %}
    <style>
        .stark-login form {
              height: 315px !important;
            }
    </style>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{% static 'js/login.js' %}" ></script>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>




<body>
   <div class="container">
       <form action="{{ app_path }}" method="post" id="form">
  {% if user.is_authenticated %}
        <a style="color: red;">
            {% blocktrans trimmed %}
            You are authenticated as {{ username }}, but are not authorized to
            access this page. Would you like to login to a different account?
            {% endblocktrans %}
        </a>
{% endif %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <a style="color: red;">
            {{ error }}
        </a>
        {% endfor %}
{% endif %}
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    LOGIN
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form>
                            <div class="form-group">
                                <label class="form-control-label">USERNAME</label>
<input type="text" name="username" id="id_username" class="form-control" placeholder="{% trans "Username" %}" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" autofocus required />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">PASSWORD</label>
                                <input type="password" name="password" class="form-control" placeholder="{% trans 'Password' %}" id="id_password" required />
                            </div>
{% if otp_is_open %}
                            <div class="form-group">
                                <label class="form-control-label">{% trans 'Token OTP' %}</label>
                            <input type="text" name="otp_token" id="otp_token" class="form-control" placeholder="{% trans 'Token OTP' %}"   />
                                    <p ><h4 class="first-log">{% trans 'If you are first login to system and not configure otp just ignore otp token!' %}</h4></p>
                            </div>
                                {{ form.otp_token.errors }}

                            {% endif %}
{% csrf_token %}

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-6 login-btm login-button">
                                    <input type="submit" class="btn btn-outline-primary" value="LOGIN"/>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
                <div class="col">
                            <div class="col-lg-12 forgotpass">
                                 <div> <a href="{%url 'password-reset' %} " class="forgotpass-a">{% trans "Forgot Password" %}</a></div>
                            </div>
                                    </div>
            </div>
            {% csrf_token %}
            </form>
        </div>





<script  type="text/javascript">
    function selectdo(obj) {
        str="{% url 'set_language' %}";
        myform = document.getElementById('form');
        myform.method = "POST";
        myform.action = str;
        myform.submit();
    }
</script>



</body>
</html>
