{% extends 'base.html'%}
{% load staticfiles %}
{%load i18n%}
{%block title%}Time slot list{%endblock%}
{% block css %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/json-forms/css/brutusin-json-forms.css' %} ">
<!-- DataTables css -->
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'plugins/json-view/jquery.jsonview.min.css' %}">
{% endblock %}
{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="caption">
                        <button class="btn btn-primary" onclick="window.location.href = '{% url 'timeslotcreate' %}'"> {% trans 'Add New' %}
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">{%trans 'Action' %}</a></li>
                                <li><a href="#">{%trans 'Another action' %}</a></li>
                                <li><a href="#">{%trans 'Something else here' %}</a></li>
                                <li class="divider"></li>
                                <li><a href="#">{%trans 'Separated link' %}</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="commands_list" class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start at</th>
                            <th>End at</th>
                            <th>Close connections at the end of the time period</th>
                            <th>User</th>

                            <th>{%trans 'action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for element in object_list %}
                        <tr>
                            <td>{{ element.name }}</td>
                            <td>{{ element.description }}</td>
                            <td>{{ element.start_at }}</td>
                            <td>{{ element.end_at }}</td>
                            <td>{{ element.close }}</td>
                            <td>{{ element.user.username }}</td>


                            <td data-editable="false" class="text-center pull-left">
                                {% if perms.common.can_view_time_slot %}<a class="btn btn-xs btn-primary" onclick="detail({{element.id}})">{%trans 'detail' %}</a>{% endif %}
                                {% if perms.common.can_change_time_slot %}<a class="btn btn-xs btn-info" onclick="edit({{element.id}})">{%trans 'edit' %}</a>{% endif %}
                                {% if perms.common.can_delete_time_slot %}<a class="btn btn-xs btn-danger" onclick="del({{element.id}})">{%trans 'delete' %}</a>{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>

    </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'plugins/markdown/markdown.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/i18n/defaults-en_US.js' %} "></script>
<script src="{% static 'plugins/json-forms/js/brutusin-json-forms.js' %} "></script>
<script src="{% static 'plugins/json-forms/js//brutusin-json-forms-bootstrap.js' %} "></script>
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/json-view/jquery.jsonview.min.js' %}"></script>
<script src="{% static 'plugins/bootbox/bootbox.js' %}"></script>
<script type="application/javascript">
    $(function () {
        $('#commands_list').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "iDisplayLength": 50,
            "autoWidth": false,
        });
    });
</script>
<script type="application/javascript">
   function get_detail(id) {
        var dialog = bootbox.dialog({
            title: '{%trans 'commands detail' %}',
            message: '<p><i class="fa fa-spin fa-spinner"></i> {%trans 'Loading...' %}</p>'
        });
        dialog.init(function(){
            $.ajax({
                url: '{% url 'timeslotapi' %}',
                type: 'POST',
                data: {'id':id},
                success: function(data, textStatus, jqXHR) {
                    if(data.status){
                        dialog.find('.bootbox-body').html( JSON.stringify(data.commands));
                        dialog.find('.bootbox-body').JSONView(data.commands, { collapsed: true });
                    } else {
                       toastr['error'](data.message);
                    }
                },
                error: function(data, textStatus, jqXHR) {
                    toastr['error'](data);
                }
            });
        });
    }
    function detail(id) {
        var dialog = bootbox.dialog({
            title: '{%trans 'commands detail' %}',
            message: '<p><i class="fa fa-spin fa-spinner"></i> {%trans 'Loading...' %}</p>'
        });
        dialog.init(function(){
            $.ajax({
                url: '{% url 'timeslotapi' %}',
                type: 'POST',
                data: {'id':id},
                success: function(data, textStatus, jqXHR) {
 var schema = {
        "type": "object",
        "properties": {
                    "name": {
                    "type": "string",
                    'title': "name",
                    "description": "name time slot",
                    "minLength": 1,
                    "maxLength": 50,
                    "required": true,
                    "readOnly": true,
            },
                "description": {
                "type": "string",
                'title': "description",
                "description": "description time slot",
                "required": true,
                "minLength": 1,
                "maxLength": 50,
                                        "readOnly": true,

            },
                "start at": {
                "type": "string",
                'title': "start at",
                'format' : 'string',
                "description": "start at ",
                "required": true,
                                        "readOnly": true,

            },
                "end at": {
                "type": "string",
                'title': "end_at",
                'format' : 'string',
                "description": "end at ",
                "required": true,
                    "readOnly": true,

            },
            "close": {
                "type": "boolean",
                "title": "close",
                "description": "Close connections at the end of the time period",
                "default": false,
                "readOnly": true,

                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "{%trans 'Enabled' %}",
                        "readOnly": true,

                    },
                },
                "required": [
                    "disabled"
                ]
            },
            "user": {
                "type": "string",
                'title': "user",
                "description": "",
                "enum":[
                    {% for user in users %}
                        "{{ user.username }}",
                    {% endfor %}
                ],
                "required": true,

                        "readOnly": true,

                },
                      "Weekdays": {
                        "type": "array",
                         "uniqueItems": true,
                            "readOnly": true,
                            "items": {
                                 "type": "string",
                                "readOnly": true,
                            "enum": [
                              "Sunday",
                              "Monday",
                              "Tuesday", "Wednesday",
                              "Thursday", "Friday","Saturday"
                            ]
                          },
                        }
        }
    };
                    dialog.find('.bootbox-body').html("<div id='container'></div>");
                    //console.log(data.data);
                    var BrutusinForms = brutusin["json-forms"];
                    var bf = BrutusinForms.create(schema);
                    var container = document.getElementById('container');
                    bf.render(container, data.data);
                },
                error: function(data, textStatus, jqXHR) {
                    toastr['error'](data);
                }
            });
        });
    }
    function edit(id) {
        var dialog = bootbox.confirm({
            title: 'Time slot edit',
            message: '<p><i class="fa fa-spin fa-spinner"></i> {%trans 'Loading...' %}</p>',
            buttons: {
                confirm: {
                    label: '{%trans 'submit' %}',
                    className: 'btn-success'
                },
                cancel: {
                    label: '{%trans 'cancel' %}',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result){
                    if ($.gbf.validate()) {
                        var jsondata = $.gbf.getData();
                        jsondata["action"] = "update";
                        jsondata["id"] = id;
                        $.ajax({
                            type: "POST",
                            url: '{% url 'timeslotcreate' %}',
                            data: JSON.stringify(jsondata, null, 4),
                            dataType: "json",
                            success: function (data) {
                                if(data.status){
                                    toastr["success"](data.message);
                                    setTimeout(function () {
                                        location.reload();
                                    },2000);
                                } else {
                                    toastr["error"](data.message);
                                }
                            },
                            failure: function (errMsg) {
                                toastr["error"](errMsg);
                            }
                        });
                    }
                }
            }
        });
        dialog.init(function(){
            $.ajax({
                url: '{% url 'timeslotapi' %}',
                type: 'POST',
                data: {'id':id},
                success: function(data, textStatus, jqXHR) {
    var schema = {
        "type": "object",
        "properties": {
                "name": {
                "type": "string",
                'title': "name",
                "description": "name time slot",
                "required": true,
                "minLength": 1,
                "maxLength": 50,
            },
                "description": {
                "type": "string",
                'title': "description",
                "description": "description time slot",
                "required": true,
                "minLength": 1,
                "maxLength": 50,
            },
                "start at": {
                "type": "string",
                'title': "start_at",
                'format' : 'date-time',
                "description": "start at ",
                "required": true,
            },
                "end at": {
                "type": "string",
                'title': "end_at",
                'format' : 'date-time',
                "description": "end at ",
                "required": true,
            },
            "close": {
                "type": "boolean",
                "title": "close",
                "description": "Close connections at the end of the time period",
                "default": false,
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "{%trans 'Enabled' %}"
                    },
                },
                "required": [
                    "disabled"
                ]
            },
            "user": {
                "type": "string",
                'title': "user",
                "description": "",
                "enum":[
                    {% for user in users %}
                        "{{ user.username }}",
                    {% endfor %}
                ],
                "required": true,
                },
                    "Weekdays": {
                        "type": "array",
                         "uniqueItems": true,
                            "items": {
                                 "type": "string",
                            "enum": [
                              "Sunday",
                              "Monday",
                              "Tuesday", "Wednesday",
                              "Thursday", "Friday","Saturday"
                            ]
                          },
                        }
        }
    };
                    dialog.find('.bootbox-body').html("<div id='container'></div>");
                    var BrutusinForms = brutusin["json-forms"];
                    var bf = BrutusinForms.create(schema);
                    var container = document.getElementById('container');
                    $("#container").empty();
                    bf.render(container, data.data);
                    $.gbf = bf;
                },
                error: function(data, textStatus, jqXHR) {
                    toastr['error'](data);
                }
            });
        });
    };
    function del(id) {
        var dialog = bootbox.confirm({
            title: "<a class='text-danger'>"+ "delete Time slot </a>",
            message: "Are you sure to delete Time slot " + ' ?',
            buttons: {
                confirm: {
                    label: '{%trans 'delete ' %}',
                    className: 'btn-danger'
                },
                cancel: {
                    label: '{%trans 'cancel ' %}',
                    className: 'btn-success'
                }
            },
            callback: function (result) {
                if (result){
                        $.ajax({
                            type: "POST",
                            url: "{% url 'timeslotcreate' %}",
                            data: JSON.stringify({"id":id,"action":'delete'}),
                            dataType: "json",
                            success: function (data) {
                                if(data.status){
                                    toastr["success"](data.message);
                                    setTimeout(function () {
                                        location.reload();
                                    },2000);
                                } else {
                                    toastr["error"](data.message);
                                }
                            },
                            failure: function (errMsg) {
                                toastr["error"](errMsg);
                            }
                        });
                }
            }
        });
    }
</script>
{% endblock %}